.slider {
  position: relative;
  max-width: 600px;
  bottom: -4px;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.response-slider .slick-list {
  /* max-width: 1200px; */
}

.response-slider .slick-dots {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  width: 144px;
  top: -95px;
}

.response-slider .slick-dots li {
  list-style: none;
  font-size: 0;
}

.response-slider .slick-dots button {
  width: 25px;
  height: 25px;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.response-slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 3px solid #fff;
}

.slider .slick-arrow {
  position: absolute;
  padding: 0px;
  font-size: 0;
  width: 145px;
  height: 110px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.slider .slick-arrow.slick-next::after {
  content: url(../assets/Arrow1.svg);
}
.slider .slick-arrow.slick-prev::after {
  content: url(../assets/Arrow2.svg);
}

.slider .slick-arrow.slick-next {
  z-index: 1;
  right: -1px;
  bottom: 4px;
}
.slider .slick-arrow.slick-prev {
  z-index: 1;
  right: 144px;
  bottom: 4px;
}
