/* * {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Libre Franklin", sans-serif;
  font-family: "NTR", sans-serif;
  font-family: "Rancho", cursive;
} */

/* =============================================== */

.active {
  display: block;
}

.hidden {
  display: none;
}

/* =============================================== */

[class*="__container"] {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

[class*="__list"] {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

/* =============================================== */

.header__menu {
  color: #000;
}

ul.menu__list {
  padding: 0;
  margin: 16px 0 0 0;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 0 10px;
}

.menu__link {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}
.menu__item--header-logo {
  font-family: "Rancho", cursive;
  font-size: 96px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

/* =============================================== */

.menu__item--header-button-open::after {
  content: url(../../assets/header-button/eva_bar-chart-fill.svg);
  width: 44px;
}

.menu__item--header-button-close::after {
  content: url(../../assets//header-button/clarity_times-line.svg);
  width: 44px;
}

.menu__item--header-button-open {
  background-color: transparent;
  border: none;
}

.menu__item--header-button-close {
  background-color: transparent;
  border: none;
}

/* =============================================== */

.dropdown__list {
  margin: 40px 0;
}

.dropdown-social__link {
  margin-bottom: 60px;
}

/* =============================================== */

.main-block__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  min-width: 0;
}

.main-block__decription {
  display: flex;
  flex-direction: column;
  width: 490px;
}

.decription-main-block__title {
  font-family: Josefin Sans;
  font-size: 48px;
  font-weight: 300;
}

.decription-main-block__info {
  margin: 126px 0 98px 0;
}

.decription-main-block__title span {
  color: #2a9d8f;
}

.decription-main-block__info mark {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  padding: 13px 38px;
  margin-right: 96px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: #e76f51;
  box-shadow: 5px 5px 15px 0px #f4a261;
}

.decription-main-block__info span {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}

.decription-main-block__options {
  display: flex;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}

.decription-main-block__options .option-content:nth-child(1) {
  padding: 0 54px 8px 24px;
}

.decription-main-block__options .option-content:nth-child(2) {
  padding: 0 64px 8px 64px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.decription-main-block__options .option-content:nth-child(3) {
  padding: 0 24px 8px 54px;
}

.option-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-content img {
  margin-bottom: 14px;
}

/* =============================================== */

.slider__item img {
  max-width: 100%;
  object-fit: contain;
  text-align: center;
}

/* =============================================== */

.page__main:nth-child(2) {
  background: #efefef;
}

/* =============================================== */

.food-cards__list {
  margin: 0 102px;
}

.food-card__item:nth-last-child(1) {
  padding: 90px 0;
  flex-direction: row-reverse;
}

.page__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.page-header__title {
  margin-top: 40px;
  font-family: "Rancho", cursive;
  font-size: 64px;
  font-weight: 400;
}

.page-header__subtitle {
  margin: 7px 0 28px 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: #e76f51;
}

.food-card__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-card__name {
  margin-bottom: 23px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #e76f51;
}

.food-card__title {
  width: 394px;
  padding: 25px 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 42px;
  font-weight: 400px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.food-card__description {
  width: 372px;
  margin: 24px 0;
  font-family: "Libre Franklin", sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: #333333;
}

.food-card__price {
  margin-bottom: 25px;
  font-family: "Libre Franklin", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.food-card__buttom {
  padding: 8px 42px;
  font-family: "Libre Franklin", sans-serif;
  border-radius: 15px;
  background: #2a9d8f;
  border: none;
  color: #fff;
  cursor: pointer;
}

.food-card__image {
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

/* =============================================== */

.coffee-cards__list {
  color: #333;
}

.coffee-cards__header {
}

.coffee-cards__title {
}

.coffee-cards__subtitle {
}

.coffee-menu__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
  flex-wrap: wrap;
}

.coffee-menu__colum {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

.coffee-menu__title {
  font-family: Josefin Sans;
  font-size: 42px;
  font-weight: 400;
}

.coffee-menu__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 65px 0;
}

.coffee-menu__item:nth-child(2)::after {
  content: " ";
  position: absolute;
  background-image: url(../../assets/Line.svg);
  background-size: contain;
  height: 6px;
  width: 356px;
  top: -12px;
  left: -11.5px;
}

.coffee-menu__item:nth-child(2)::before {
  content: " ";
  position: absolute;
  background-image: url(../../assets/Line.svg);
  background-size: contain;
  height: 6px;
  width: 356px;
  bottom: -6px;
  left: -11.5px;
}

.coffe-item__content {
  margin-left: 10px;
}

.coffee-item__description {
  display: flex;
}

.coffee-item__name {
  font-family: Libre Franklin;
  font-size: 22px;
  font-weight: 500;
}

.coffee-item__price {
  margin-left: 18px;
  font-family: Libre Franklin;
  font-size: 20px;
  font-weight: 200;
}

.coffee-item__info {
  font-family: Libre Franklin;
  font-size: 18px;
  font-weight: 300;
  margin: 7px 0 0 0;
}

/* =============================================== */
