@media (max-width: 1200px) {
  .main-block__container {
    flex-direction: column;
  }

  div.main-block__decription {
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
  }

  .food-card__item {
    flex-direction: column;
  }

  div.food-card__item:nth-last-child(1) {
    flex-direction: column;
  }

  .food-card__purchase {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 26px;
  }

  div.food-card__price {
    margin-bottom: 0;
  }
}

@media (max-width: 990px) {
}

/* =============================================== */

@media (max-width: 768px) {
  .menu__item {
    display: none;
  }

  .main_block {
    margin-top: 52px;
  }

  div.decription-main-block__info mark {
    margin-right: 24px;
  }

  div.decription-main-block__info {
    margin: 86px 0;
  }

  div.decription-main-block__options .option-content:nth-child(1) {
    padding: 0 24px 8px 24px;
  }

  div.decription-main-block__options .option-content:nth-child(2) {
    padding: 0 24px 8px 24px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }

  div.decription-main-block__options .option-content:nth-child(3) {
    padding: 0 24px 8px 24px;
  }

  div.food-card__text {
    margin-top: 64px;
  }

  div.food-card__name {
    font-size: 20px;
  }

  div.food-card__title {
    font-weight: 300;
  }

  div.food-cards__list {
    margin: 0;
  }

  /* =============================================== */

  .dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.2);
  }

  ul.dropdown__list {
    display: flex;
    flex-direction: column;
    font-family: "Libre Franklin", sans-serif;
    list-style: none;
    width: 300px;
    color: #000;
    row-gap: 35px;
  }

  .dropdown__item {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .dropdown__link {
    font-size: 20px;
    text-decoration: none;
    color: inherit;
  }

  .dropdown__item:nth-child(1)::after {
    content: url(../../assets/dropdown-icon/carbon_phone-voice.svg);
    position: absolute;
    right: 0;
  }

  .dropdown__item:nth-child(2)::after {
    content: url(../../assets/dropdown-icon/el_map-marker.svg);
    position: absolute;
    right: 0;
  }
  .dropdown__item:nth-child(3)::after {
    content: url(../../assets/dropdown-icon/ant-design_clock-circle-outlined.svg);
    position: absolute;
    right: 0;
  }

  .dropdown-social__link {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }

  div.main-block__slider {
    width: 400px;
  }
}

@media (max-width: 425px) {
  div.main-block__decription {
    width: 320px;
    text-align: start;
  }

  div.slider .slick-arrow.slick-next::after {
    content: url(/assets/Arrow1s.svg);
  }
  div.slider .slick-arrow.slick-prev::after {
    content: url(/assets/Arrow2s.svg);
  }

  div.slider .slick-arrow {
    width: 70px;
    height: 45px;
  }

  .slider .slick-arrow.slick-prev {
    border-radius: 7px 0px 0px 0px;
    right: 69px;
  }

  div.main-block__slider {
    width: 300px;
  }

  div.food-cards__title {
    font-size: 48px;
  }
}
