@media (max-width: 1200px) {
  .main-block__container {
    flex-direction: column;
  }

  div.main-block__decription {
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
  }

  .food-card__item {
    flex-direction: column;
  }

  div.food-card__item:nth-last-child(1) {
    flex-direction: column;
  }

  .food-card__purchase {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 26px;
  }

  div.food-card__price {
    margin-bottom: 0;
  }

  div.coffee-menu__list {
    flex-direction: column;
    margin-bottom: 0;
  }

  div.response-item__text {
    width: 708px;
    font-size: 20px;
  }

  .experts-list {
    flex-direction: column;
    align-items: center;
  }

  .expert-list__item:nth-child(1) {
    margin-top: 0;
  }

  .expert-list__item {
    margin: 38px 0;
  }
}

@media (max-width: 1024px) {
  div.footer__menu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  div.info__social {
    margin-top: 32px;
    justify-content: space-around;
  }

  div.footer-menu__info {
    margin-bottom: 24px;
  }

  div.work-time__list {
    margin-bottom: 24px;
  }
}

/* =============================================== */

@media (max-width: 768px) {
  .menu__item {
    display: none;
  }

  .main_block {
    margin-top: 52px;
  }

  div.decription-main-block__info mark {
    margin-right: 24px;
  }

  div.decription-main-block__info button:nth-child(2)::before {
    content: url(../../assets/bx_map.svg);
    position: relative;
    top: 4px;
    right: 4px;
    z-index: -1;
  }

  div.decription-main-block__info {
    margin: 86px 0;
  }

  div.decription-main-block__options .option-content:nth-child(1) {
    padding: 0 24px 8px 24px;
  }

  div.decription-main-block__options .option-content:nth-child(2) {
    padding: 0 24px 8px 24px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }

  div.decription-main-block__options .option-content:nth-child(3) {
    padding: 0 24px 8px 24px;
  }

  div.food-card__text {
    margin-top: 64px;
  }

  div.food-card__name {
    font-size: 20px;
  }

  div.food-card__title {
    font-weight: 300;
  }

  div.food-cards__list {
    margin: 0;
  }

  div.main-block__slider {
    width: 400px;
  }

  .dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.2);
  }

  ul.dropdown__list {
    display: flex;
    flex-direction: column;
    font-family: "Libre Franklin", sans-serif;
    list-style: none;
    width: 300px;
    color: #000;
    row-gap: 35px;
  }

  .dropdown__item {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .dropdown__link {
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: inherit;
  }

  .dropdown__item:nth-child(1)::after {
    content: url(../../assets/dropdown-icon/carbon_phone-voice.svg);
    position: absolute;
    right: 0;
  }

  .dropdown__item:nth-child(2)::after {
    content: url(../../assets/dropdown-icon/el_map-marker.svg);
    position: absolute;
    right: 0;
  }
  .dropdown__item:nth-child(3)::after {
    content: url(../../assets/dropdown-icon/ant-design_clock-circle-outlined.svg);
    position: absolute;
    right: 0;
  }

  .dropdown-social__link {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }

  div.response-item__text {
    width: 428px;
    font-size: 18px;
  }

  div.reservation__container {
    justify-content: center;
  }

  div.reservation-form__block {
    right: 0;
  }
}

/* =============================================== */

@media (max-width: 478px) {
  .header {
    margin-bottom: 45px;
  }

  nav.header__menu {
    width: 318px;
    margin: 0 auto;
  }

  a.menu__item--header-logo {
    font-size: 72px;
    font-weight: 400;
  }

  div.main-block__decription {
    width: 318px;
    text-align: start;
  }

  .decription-main-block__title div {
    width: 290px;
    font-size: 42px;
  }

  div.decription-main-block__info {
    display: flex;
    gap: 23px;
  }

  div.decription-main-block__info b {
    font-size: 16px;
  }

  div.decription-main-block__info button:nth-child(1) {
    font-size: 16px;
  }

  div.decription-main-block__info button:nth-child(2) {
    font-size: 16px;
  }

  ul.dropdown__list {
    width: 246px;
  }

  div.dropdown-social__link {
    width: 246px;
  }

  div.option-content img {
    width: 40px;
  }

  div.option-content div {
    font-size: 16px;
  }

  div.slider .slick-arrow.slick-next::after {
    content: url(../../assets/Arrow1s.svg);
  }
  div.slider .slick-arrow.slick-prev::after {
    content: url(../../assets/Arrow2s.svg);
  }

  div.slider .slick-arrow {
    width: 70px;
    height: 45px;
  }

  .slider .slick-arrow.slick-prev {
    border-radius: 7px 0px 0px 0px;
    right: 69px;
  }

  div.main-block__slider {
    width: 300px;
  }

  div.food-card__text {
    width: 300px;
  }

  div.page-header__title {
    font-size: 48px;
  }

  div.food-card__title {
    width: 300px;
    font-size: 36px;
  }

  p.food-card__description {
    width: 300px;
    font-size: 16px;
  }

  .food-card__image {
    width: 300px;
    height: 336px;
    object-fit: cover;
  }

  .coffee-menu__item img {
    width: 76px;
  }

  div.coffee-menu__colum {
    align-items: start;
    margin-top: 0;
  }

  div.coffee-item__name {
    font-size: 18px;
    font-weight: 500;
  }

  div.coffee-menu__title {
    font-size: 30px;
  }

  div.coffee-item__price {
    font-size: 18px;
  }

  p.coffee-item__info {
    font-size: 16px;
  }

  div.coffee-menu__item {
    padding: 32px 0;
  }

  div.coffee-menu__item:nth-child(2)::after {
    left: -22px;
    width: 320px;
  }

  div.coffee-menu__item:nth-child(2)::before {
    left: -22px;
    width: 320px;
  }

  div.response-item__text {
    width: 260px;
    font-size: 18px;
  }

  .response-slider .slick-list {
    height: 427px;
  }

  .response-slider .slick-dots {
    width: 90px;
    top: -48px;
  }

  .response-slider .slick-dots button {
    width: 16px;
    height: 16px;
  }

  .response-slider .slick-dots li.slick-active button {
    border: 2px solid #fff;
  }

  div.response-block__slider {
    margin-bottom: 46px;
  }

  div.response-item__text {
    margin: 42px 0;
  }

  div.response-item__description {
    top: 45px;
  }

  div.response-item__author {
    font-size: 20px;
  }

  .expert-list__item img {
    width: 300px;
    height: 400px;
    object-fit: cover;
  }

  div.expert-list__info {
    width: 264px;
    height: 98px;
    right: 18px;
    bottom: 18px;
  }

  .expert-list__info div.name {
    font-size: 20px;
  }

  .expert-list__info div.position {
    font-size: 18px;
  }

  section.page__main:nth-child(6) {
    margin-bottom: 0;
    padding-top: 236px;
  }

  div.reservation__container {
    justify-content: center;
    padding: 0;
  }

  div.reservation-form__block {
    width: 390px;
    height: 660px;
    top: -9px;
  }

  div.form-header__title {
    font-size: 48px;
  }

  div.form-header__subtitle {
    font-size: 20px;
  }

  form.form-details input {
    margin-bottom: 28px;
    padding: 4px 10px 3px 10px;
  }

  div.details-data input {
    width: 132px;
    height: 27.5px;
  }

  div.info__description p {
    font-size: 16px;
  }

  div.info__description p:first-child {
    width: 300px;
  }

  .info__social {
    width: 260px;
  }

  .info__social img {
    width: 40px;
    height: 40px;
  }

  div.list__subtitle {
    font-size: 22px;
  }

  ul.list__item li {
    font-size: 16px;
  }

  div.list__phone {
    font-size: 16px;
  }

  div.location__subtitle {
    font-size: 22px;
  }

  div.location__info p {
    font-size: 16px;
  }

  iframe.location__map {
    width: 290px;
    height: 290px;
  }
}

@media (max-width: 320px) {
  nav.header__menu {
    width: 290px;
  }
}
